.icon-account{
    background:url('font-24740-.png') no-repeat center center;
}
.icon-pwd{
    background:url('font-147369-.png') no-repeat center center;
}
.icon-yanzhengma{
    background:url('iconfont-yanzhengma.png') no-repeat center center;
}
.icon-login-user{
    background:url('iconfont-login-user.png') no-repeat center center;
}
.icon-daohang{
    background:url('iconfont-daohang.png') no-repeat center center;
}
.icon-huanying{
    background:url('iconfont-huanyingye.png') no-repeat center center;
}
.icon-tuichu{
    background:url('iconfont-tuichu.png') no-repeat center center;
}
.icon-chakan{
    background:url('iconfont-chakan.png') no-repeat center center;
}
.icon-shou{
    background:url('iconfont-shou.png') no-repeat center center;
}
.icon-liuyanfankui{
    background:url('iconfont-liuyanfankui.png') no-repeat center center;
}