<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.up.business.repository.DistrictRepository">


    <resultMap id="districtMap" type="com.hp.up.core.Entity.District">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="parentCode" column="parent_code"/>
        <result property="is_show" column="is_show"/>
        <result property="is_leaf" column="is_leaf"/>
    </resultMap>

    <select id="get" parameterType="String" resultMap="districtMap">
        SELECT *
        FROM tb_district district
        <where>
           id = #{value}
        </where>
    </select>


    <select id="getAll"  resultMap="districtMap">
        SELECT *
        FROM tb_district district
        ORDER BY district.code ASC
    </select>

    <select id="getDistrict" parameterType="district" resultMap="districtMap">
        SELECT *
        FROM tb_district district
       <where>
           <if test="null != name">
               AND district.name LIKE CONCAT('%',#{name},'%')
           </if>

           <if test="null != code">
               AND district.code LIKE CONCAT('%',#{code},'%')
           </if>

           AND district.is_show = 1
       </where>
    </select>

    <update id="deleteById" parameterType="long">
       UPDATE tb_district SET is_show = 0
        WHERE code = #{value}
    </update>

    <!--<insert id="save" parameterType="district" useGeneratedKeys="true" keyProperty="id">-->
        <!--INSERT INTO tb_district (-->
            <!--code,-->
            <!--parent_code,-->
            <!--name-->
        <!--)-->
        <!--VALUES-->
            <!--(-->
                <!--#{code},-->
                <!--#{parentCode},-->
                <!--#{name}-->
            <!--)-->

    <!--</insert>-->

    <!--<update id="update" parameterType="district">-->
        <!--UPDATE tb_district-->
                <!--<set>-->
                   <!--<if test="null != code">-->
                       <!--code = <![CDATA[#{code}]]]>,-->
                   <!--</if>-->

                    <!--<if test="null != parentCode">-->
                        <!--parent_code = #{parentCode},-->
                    <!--</if>-->

                    <!--<if test="null != name">-->
                        <!--name = #{name}-->
                    <!--</if>-->

                <!--</set>-->
        <!--WHERE-->
            <!--id = #{id}-->

    <!--</update>-->



</mapper>