<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.up.business.repository.UserRepository">
    <!-- <sql id="filed">
         id,name,password,salt,email,gender,active,lastLoginTime,birthday,status,nickname,userRealName,qq,avatar
     </sql>-->

    <resultMap id="roleMap" type="com.hp.up.core.Entity.Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="role" column="role"/>
        <result property="description" column="description"/>
        <result property="show" column="is_show"/>
        <result property="typeName" column="role_type"/>
        <result property="parent_id" column="parent_id"/>
        <result property="parent_ids" column="parent_ids"/>
    </resultMap>

    <resultMap type="com.hp.up.core.Entity.Role" id="RolePermissionResult" extends="roleMap">
        <collection property="resourcePermissions" ofType="RoleResourcePermission">
            <id property="id" column="pid"/>
            <result property="resourceId" column="resource_id" />
            <result property="permissionIds" column="permission_ids"/>
            <association property="role" javaType="Role" />
        </collection>
    </resultMap>

    <select id="findRoleIds" parameterType="long" resultType="String">
        SELECT ru.role_ids
        FROM tb_user_role ur
        WHERE ur.user_id = #{value}
    </select>

    <select id="getRolesByids" parameterType="string" resultMap="roleMap">
        SELECT *
        FROM tb_role role
        WHERE find_in_set(role.id, #{value})
    </select>

    <select id="getRolesWithPermissionByids" resultMap="RolePermissionResult" parameterType="list">
        SELECT
        r.id id,
        r.name,
        r.role,
        r.description,
        r.is_show,
        p.id pid,
        p.role_id,
        p.resource_id,
        p.permission_ids

        FROM tb_role r LEFT JOIN

        tb_role_resource_permission p ON r.id = p.role_id WHERE r.id in

        <foreach collection="list" index="index" close=")" item="item" open="(" separator=",">#{item}</foreach>

    </select>
</mapper>