<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hp.up.business.repository.UserRepository" >
  <resultMap id="userMap" type="com.hp.up.core.Entity.User" >
        <id property="id" column="id" />
        <result property="name" column="namae" />
        <result property="password" column="password" />
      <result property="salt" column="salt" />
  </resultMap>

    <select id="findUserByName" parameterType="String" resultMap="userMap">
            select id,name,password,salt from user where name = #{name}
    </select>

    <delete id="remove" parameterType="long">
        delete from tb_user
        <where>
            <if test="value != null">
                uId = <![CDATA[#{value}]]>
            </if>
        </where>
    </delete>

</mapper>